<!DOCTYPE html>
<html>
    <head>
        <title>G-Books App</title>
    </head>
    <body>
        <div>
            <h1><a href="/">G-Books</a></h1>
        </div>

        <div>
            <p>published: 14.02.2019, 12:14</p>
            <h2><a href="">Who are we? </a></h2>
            <p>We are Foreign Students in Gachon University who want to share knowledge. We have created this book platform to sell and distribute books at a cheaper price. This is a great chance to share your books and meet amazing people. </p>
        </div>

        <div>
            <p>published: 14.02.2019, 12:14</p>
            <h2><a href="">Do you want to share your books? </a></h2>
            <p>Join us and let us have a fantastic time of sharing! </p>
        </div>
    </body>
</html>